#content {
	text-align: center;
	padding-top: 20%;
	color: white;
	text-shadow: 0px 4px 3px rgb(0,0,0,0.4),
	             0px 8px 13px rgb(0,0,0,0.1),
	             0px 18px 23px rgb(0,0,0,0.1);

}

body {
	background: url('nature.png');
	
	background-size: cover;
	background-position: center;
	/*font-family: 'merienda',cursive;*/
	font-family: 'Lato', sans-serif;

}

h1 {
	font-weight: 700;
	font-size: 5em;
}

html {
	height: 100%;
}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}